body{
    background: url(note.jpg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
/*Style navbar*/
.navbar-inverse{
    background: rgba(0,0,0,0.5);
}
.nav li{
    color: #fff;
    font-size: 17px;
    margin-left: 35px;
    padding: 10px 0;
}
.nav li:hover{
    border-bottom: 1px solid #00ffb8;
    padding-bottom: 9px;
    cursor: pointer;
}

/*Style Jumbotron*/
.jumbotron{
    background-color: transparent;
    text-align: center;
    letter-spacing: 2.5px;
    padding: 10px;
    margin-top: 150px;
}

/*Button*/
.signup{
    margin-top: 50px;
}

.green{
    background-color: rgba(114,190,35,0.8);
}

.green:hover{
    background-color: rgb(114,190,35);
}

.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}